.header{
    text-align: center;
    padding: 8px 32px 8px 16px;
    height: 36px;
    background-color:  #222;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    text-align: left;
    transform: rotate3d();
    animation: infinite 8s linear;
}

.loginButton{
    float: right;
}